<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819310082613-6bte99mbugs5lo5lpkt2nlike8fcut2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819310082613-6bte99mbugs5lo5lpkt2nlike8fcut2t</string>
	<key>API_KEY</key>
	<string>AIzaSyBM9bb1lP0uBd_5lCMdrcy6-076W9LFbbc</string>
	<key>GCM_SENDER_ID</key>
	<string>819310082613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.etrade</string>
	<key>PROJECT_ID</key>
	<string>flutter-7b435</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-7b435.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819310082613:ios:e79d023880ebafce</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-7b435.firebaseio.com</string>
</dict>
</plist>